<div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <form *ngIf="purchaseForm" [formGroup]="purchaseForm">
            <div fxLayout="column" fxLayoutGap="10px">

                <div fxLayout="column">
                    <div>Наименование списка</div>
                    <input class="form-control form-control-sm"
                           formControlName="name"
                           id="name"
                           type="text">
                </div>


                <div fxFlex="90" fxLayout="column">
                    <div>Добавить товар:</div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">

                        <input class="form-control form-control-sm"
                               formControlName="itemName"
                               id="itemName"
                               type="text">

                        <button mat-mini-fab color="primary"
                                (click)="addItem()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>

                <mat-list>
                    <mat-list-item checkboxPosition="before"
                                   (click)="editItem(item.id)"
                                   *ngFor="let item of purchase.items">
                        <div style="border-bottom: 1px solid lightgray" mat-line>{{item.itemName}}</div>
                        <mat-icon (click)="deleteItem(item.id)" color="warn">clear</mat-icon>
                    </mat-list-item>
                </mat-list>

            </div>

        </form>
    </div>
    <div class="card-footer">
        <div fxLayout="row" fxLayoutGap="10px">
            <button (click)="save()" class="btn btn-success btn-sm">
                {{buttonLabel}}
            </button>
            <button (click)="cancel()" class="btn btn-success btn-sm">
                Выход
            </button>
        </div>
    </div>
</div>
